<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="POSWinforms.Properties.Settings.posdbConnectionString"
            connectionString="Data Source=RILEY-CUTIE\SQLEXPRESS;Initial Catalog=posdb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="POSWinforms.Properties.Settings.posdbConnectionString1"
            connectionString="Data Source=DESKTOP-OH1I5GV\SQLEXPRESS02;Initial Catalog=posdb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="posdbConnectionString1" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-OH1I5GV\SQLEXPRESS02;integrated security=SSPI;initial catalog=posdb" />
        <add name="POSWinforms.Properties.Settings.Basic_DotsConnectionString"
            connectionString="Data Source=basic-dots.database.windows.net;Initial Catalog=&quot;Basic Dots&quot;;Persist Security Info=True;User ID=basic-dots-admin;Password=Japoksd123!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>